pkgbase = wine-lol
	pkgdesc = A compatibility layer for running Windows programs - Staging branch with League Of Legends fixes
	pkgver = 5.9
	pkgrel = 1
	url = http://www.wine-staging.com
	install = wine.install
	arch = x86_64
	license = LGPL
	makedepends = autoconf
	makedepends = ncurses
	makedepends = bison
	makedepends = perl
	makedepends = fontforge
	makedepends = flex
	makedepends = gcc>=4.5.0-2
	makedepends = giflib
	makedepends = lib32-giflib
	makedepends = libpng
	makedepends = lib32-libpng
	makedepends = gnutls
	makedepends = lib32-gnutls
	makedepends = libxinerama
	makedepends = lib32-libxinerama
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = libxmu
	makedepends = lib32-libxmu
	makedepends = libxxf86vm
	makedepends = lib32-libxxf86vm
	makedepends = libldap
	makedepends = lib32-libldap
	makedepends = mpg123
	makedepends = lib32-mpg123
	makedepends = openal
	makedepends = lib32-openal
	makedepends = v4l-utils
	makedepends = lib32-v4l-utils
	makedepends = alsa-lib
	makedepends = lib32-alsa-lib
	makedepends = libxcomposite
	makedepends = lib32-libxcomposite
	makedepends = mesa
	makedepends = lib32-mesa
	makedepends = mesa-libgl
	makedepends = lib32-mesa-libgl
	makedepends = opencl-icd-loader
	makedepends = lib32-opencl-icd-loader
	makedepends = libxslt
	makedepends = lib32-libxslt
	makedepends = libpulse
	makedepends = lib32-libpulse
	makedepends = libva
	makedepends = lib32-libva
	makedepends = gtk3
	makedepends = lib32-gtk3
	makedepends = gst-plugins-base-libs
	makedepends = lib32-gst-plugins-base-libs
	makedepends = vulkan-icd-loader
	makedepends = lib32-vulkan-icd-loader
	makedepends = sdl2
	makedepends = lib32-sdl2
	makedepends = vkd3d
	makedepends = lib32-vkd3d
	makedepends = sane
	makedepends = libgphoto2
	makedepends = gsm
	makedepends = ffmpeg
	makedepends = samba
	makedepends = opencl-headers
	depends = attr
	depends = lib32-attr
	depends = fontconfig
	depends = lib32-fontconfig
	depends = lcms2
	depends = lib32-lcms2
	depends = libxml2
	depends = lib32-libxml2
	depends = libxcursor
	depends = lib32-libxcursor
	depends = libxrandr
	depends = lib32-libxrandr
	depends = libxdamage
	depends = lib32-libxdamage
	depends = libxi
	depends = lib32-libxi
	depends = gettext
	depends = lib32-gettext
	depends = freetype2
	depends = lib32-freetype2
	depends = glu
	depends = lib32-glu
	depends = libsm
	depends = lib32-libsm
	depends = gcc-libs
	depends = lib32-gcc-libs
	depends = libpcap
	depends = lib32-libpcap
	depends = desktop-file-utils
	depends = wine-lol-glibc
	optdepends = giflib
	optdepends = lib32-giflib
	optdepends = libpng
	optdepends = lib32-libpng
	optdepends = libldap
	optdepends = lib32-libldap
	optdepends = gnutls
	optdepends = lib32-gnutls
	optdepends = mpg123
	optdepends = lib32-mpg123
	optdepends = openal
	optdepends = lib32-openal
	optdepends = v4l-utils
	optdepends = lib32-v4l-utils
	optdepends = libpulse
	optdepends = lib32-libpulse
	optdepends = alsa-plugins
	optdepends = lib32-alsa-plugins
	optdepends = alsa-lib
	optdepends = lib32-alsa-lib
	optdepends = libjpeg-turbo
	optdepends = lib32-libjpeg-turbo
	optdepends = libxcomposite
	optdepends = lib32-libxcomposite
	optdepends = libxinerama
	optdepends = lib32-libxinerama
	optdepends = ncurses
	optdepends = lib32-ncurses
	optdepends = opencl-icd-loader
	optdepends = lib32-opencl-icd-loader
	optdepends = libxslt
	optdepends = lib32-libxslt
	optdepends = libva
	optdepends = lib32-libva
	optdepends = gtk3
	optdepends = lib32-gtk3
	optdepends = gst-plugins-base-libs
	optdepends = lib32-gst-plugins-base-libs
	optdepends = vulkan-icd-loader
	optdepends = lib32-vulkan-icd-loader
	optdepends = sdl2
	optdepends = lib32-sdl2
	optdepends = vkd3d
	optdepends = lib32-vkd3d
	optdepends = sane
	optdepends = libgphoto2
	optdepends = gsm
	optdepends = ffmpeg
	optdepends = cups
	optdepends = samba
	optdepends = dosbox
	options = staticlibs
	source = https://dl.winehq.org/wine/source/5.x/wine-5.9.tar.xz
	source = wine-staging-v5.9.tar.gz::https://github.com/wine-staging/wine-staging/archive/v5.9.tar.gz
	source = 0001-Updated-wow64cpu-Wow64Transition-patchset.patch
	source = fsync-staging-27a52d0.patch
	source = 30-win32-aliases.conf
	source = wine-lol-bug-47198-fix.patch
	sha512sums = edc6d55a275cf37430a62dc6d6d86bff6d5a434e708dbd99d245018db7f6a0abe39581a1d91eb947f204a45ac94cc5c931745169a3b63a2aecf8db277553b74b
	sha512sums = 8fcf448be21edc0ccf8afef75013298c8f1634b51cd4d927ee5a1d039552d7c29609f65f283519b6561d09eb6eeae91fa6db70b9e78e4fd8bb5318408b39fb33
	sha512sums = 78680db42591fc882c50c4fc5156a1d3db915d71b8982b42b2affc6701d55bc5dacfd2d7a435a7b1424f9480b1e2db332321d9b4dae7122a3a0ad1efdcbe1d59
	sha512sums = 849fe6a43df69807a86e9fe0b787c658acd5255cede66edd37798aa71dfcf781abf9b004f84180b6e6bbf1ebb7435ae561316d066002e8fbf3ea4bf7ba43d03c
	sha512sums = 6e54ece7ec7022b3c9d94ad64bdf1017338da16c618966e8baf398e6f18f80f7b0576edf1d1da47ed77b96d577e4cbb2bb0156b0b11c183a0accf22654b0a2bb
	sha512sums = e8207a4cf79fe83c20d6f2257b469127baf81876f3de240a24744b23ab1c2b0b523afae6acb1fc95edfc1e2cb5db34adea87e36047455b82f42b29228681b9d5

pkgname = wine-lol
